/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */
 .chart {
   background: #212733;
   border-radius: 15px;
   box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
   margin:  25px 0;
   padding: 25px;
 }

 .chart h2 {
   margin-top: 0;
   padding: 15px 0;
   font-size: 20px;
   color:  rgba(255, 83, 83, 0.8);
   border-bottom: 1px solid #323d54;
 }
